body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #333; /* Dark grey background */
    color: white; /* White text */
}

textarea {
    width: 80%;
    font-size: 14px;
    padding: 10px;
    background-color: #555; /* Slightly lighter grey for the textarea */
    color: white;
    border: 1px solid #444; /* Dark border */
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #444; /* Dark button background */
    color: white;
    border: none;
}

select {
    margin-bottom: 10px;
    font-size: 16px;
    padding: 5px;
    background-color: #555; /* Lighter grey for select dropdown */
    color: white;
    border: 1px solid #444; /* Dark border */
}

#output-text {
    font-weight: bold;
    color: lightgreen; /* Light green color for the output */
    margin-top: 20px;
}
